/* index.html css */
/*---------------------------------------------------------------------------*/
#loginForm{
    width: 50%;
}

form label{
    padding: 10px;
    display: block;
    color: #E3AFBC;
}

form button{
    /*display: inline-block;*/
    padding: 7.5px 50px;
    border-radius: 10px;
    
}

form div{
    /*display: inline-block;*/
    /*margin-bottom: 10px;*/ 
    vertical-align: top;   
}

#loginButton{
    width: 235px;
    height: 42px;
}

span span{
    color: black;
}
/* home.html css */
/*---------------------------------------------------------------------------*/


body{
    width: 100%
}

.align-top{
    display:inline-block;
    vertical-align: top; 
}

.pad20{
    padding: 20px;
}

.pad30{
    padding: 30px;
}

.pad40{
    padding: 40px;
}

.go-right{
    float: right;
}

.go-left{
    float: left;
}

.auto-margin{
    margin: 0 auto;
}

.flex{
    display: flex;  
}

.flex-row{
    flex-direction: row;
}

.arbitrary-width{
    width: 50%;
}

#searchbox{
    display: inline-block;
    padding: 20px;
    border-radius: 25px;
}

#filters{
    border-radius: 25px;
}

button *{
    padding:5px;
    border-radius: 25px;
}


/* register.html css */
/*---------------------------------------------------------------------------*/

.centered{
    text-align: center;
}

.flex-column{
    flex-direction: column;
}

.inline-block{
    display: inline-block;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
     margin-left: 0px;
  }
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}


.space-between{
    justify-content: space-between;
}
.small-margin{
    margin: 0 10px;
}

.width100{
    width: 100%
}

.block{
    display: block;
}


.img_div{
    /*margin-top: 100px;*/
    margin-left: 45px;
    padding:10px;
}

/* home.html css */
/*---------------------------------------------------------------------------*/

.larger_tags{
    font-size: 1.2em;
}

/*.table_row_border{
    border-bottom: 3em solid transparent;
}

tr.table_row_border, td{
    border-top: 5px solid transparent;
}*/

.pad15{
    padding: 15px;
}

.pad5{
    padding: 5px;
}

.text-right{
    float: right;
}

.marginTop10{
    margin-top: 10px;
}

/* review-modal.html css */
/*---------------------------------------------------------------------------*/

.invisible{
    visibility: hidden;
}

.visible{
    visibility: visible;
}

/* Other review-modal.html css */
/*---------------------------------------------------------------------------*/
#reviewTable{
    background-color: #EE4C7C;
}

/* restaurant-modal.html css */
/*---------------------------------------------------------------------------*/

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding:20px;
    vertical-align: middle;
    border: 5px solid #E3E2DF;
    border-top: 5px solid #E3E2DF;
    border-radius: 25px;
    color:#E3E2DF;
    
}

.badge-primary{
    background-color: #E3AFBC;
}

.badge-dark{
    background-color: #EE4C7C;
}


/* Overridng default css */
/*---------------------------------------------------------------------------*/
button, input, optgroup, select, textarea {
    color: #E3E2DF;
    background-color: #EE4C7C;
}

button{
    padding: 10px;
}

body{
   background-color: #9A1750 ; 
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #E3E2DF;
    opacity: 1; /* Firefox */
  }

h1, h2, h3{
    color:  #E3E2DF;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
  }

p, span{
    color:  #E3E2DF;
}



p{
    margin: 10px 0px 0px 0px;
}

label{
    color:  #E3E2DF;
}

a:-webkit-any-link {
    color: #5D001E;
    cursor: pointer;
    text-decoration: underline;
}

footer{
    background-color: #E3E2DF;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* modal overwrites */
/*---------------------------------------------------------------------------*/
.modal-header{
    background-color: #9A1750 ; 
}

.modal-body{
    background-color: #9A1750 ; 
}

.modal-footer{
    background-color: #E3E2DF;
    padding: 0px;
}

tr{
    pointer-events: none;
}

.btn-primary {
    color: #fff;
    background-color: #EE4c7C;
    border-color: #EE4c7C;
}

  /* profile-html css */
/*---------------------------------------------------------------------------*/
  .topleft {
    position: absolute;
    top: 0px;
    left: 8px;
    font-size: 18px;
  }

  .bottomleft {
    position: absolute;
    top: 0px;
    left: 8px;
    font-size: 18px;
  }
  
